/* 1.What is intuitive art? */
.pct-moutaineer {
  object-position: 84% 0%;
}
/* 2. Biograpfhi */
.pct-bio {
  object-position: 57% 0%;
}
/* 3. tvorba */
.pct-with-paint {
  object-position: 16% 0%;
}
.pct-with-sheeps {
  object-position: 39% 0%;
}
.pct-with-hourses {
  object-position: 4% 0%;
}
