header {
  width: 100%;
  height: 80px;
  background: var(--199112--);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
}
.logo {
  font-size: var(--step-2);
  font-weight: 600;
  color: var(--199111--);
}
.hamburger {
  display: none;
}
a {
  text-decoration: none;
}

.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  color: var(--199111--);
  font-size: var(--step-1);
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: var(--199112--);
  background: var(--199111--);
}
.nav-bar ul li a:active {
  color: var(--199112--);
  background: var(--199111--);
}
