@media screen and (max-width: 1500px) {
  .list-inline li a {
    font-size: var(--step-2);
  }
  .sign {
    font-size: var(--step-1);
  }
}

@media screen and (max-width: 1200px) {
  .list-inline li a {
    font-size: var(--step-1);
  }
  .sign {
    font-size: var(--step-0);
  }
  .navbar .logo {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .nav-bar ul li a {
    font-size: var(--step-1);
    padding: 10px 7px;
    text-align: left;
  }
  .nav-bar ul li {
    margin: -3px;
  }
}

@media screen and (max-width: 991px) {
  /* header */
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }
  .navbar .toogle_btn {
    display: block;
  }
  .navbar .logo {
    display: flex;
  }
  .navbar .logo a {
    max-width: 100%;
    height: auto;
  }
  .list-inline li a {
    font-size: var(--step-0);
  }
  a,
  .social-img {
    max-width: 30%;
    text-align: center;
  }
  .row .right .content {
    padding-left: 0px;
  }
}

@media screen and (max-width: 890px) {
  .social-black-white {
    display: none;
  }
  .social-collor-2 {
    display: block;
    text-align: center;
    margin-bottom: -61px;
  }
  .social-collor-2,
  a {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .social-img2 {
    max-width: 50%;
  }
  .list-inline li a {
    display: none;
  }

  .caption {
    font-size: var(--step-0);
    width: 90%;
  }
  .gallery-btn {
    margin: 0 89px 0 0;
  }
}
@media screen and (max-width: 710px) {
  .horizontal-slider {
    display: none;
  }
  .vertical-slider {
    display: block;
  }
  .image-container1 {
    position: relative;
    width: 100%;
    border: 1px solid black;
  }

  .content2 {
    position: relative;
    width: 100%;
    display: none;
  }
  .active1 {
    display: block;
  }

  .dot-container1 {
    width: 150px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button {
    outline: none;
    cursor: pointer;
  }
  .dot-container1 button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 4px solid var(--199116--);
    background-color: transparent;
  }
  .dot-container1 button:nth-child(1) {
    background-color: var(--199116--);
  }

  #prev1,
  #next1 {
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: var(--199116--);
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
  }

  #prev1 {
    left: 15px;
  }
  #next1 {
    right: 15px;
  }
}
@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .row .left img {
    width: 100%;
    margin: auto;
  }
  h1 {
    font-size: var(--step-3);
  }
  .img-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  a,
  .social-img {
    max-width: 40%;
    text-align: center;
  }
  .img-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn {
    text-align: center;
  }
  .gallery-btn {
    margin: 20px 0 0 0;
  }
}
@media screen and (max-width: 452px) {
  .dropdown_menu li a {
    font-size: var(--step-0);
  }
  .dropdown_menu.open {
    height: 253px;
  }
}
@media screen and (max-width: 362px) {
  .dropdown_menu li a {
    font-size: var(--step--1);
  }
  .dropdown_menu.open {
    height: 232px;
  }
}
