@media screen and (max-width: 1578px) {
  header {
    padding: 0 50px;
  }
}
@media screen and (max-width: 1500px) {
  .list-inline li a {
    font-size: var(--step-2);
  }
  .sign {
    font-size: var(--step-1);
  }
}
@media screen and (max-width: 1478px) {
  header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1330px) {
  .logo {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  header {
    padding: 0 50px;
  }
  .list-inline li a {
    font-size: var(--step-1);
  }
  .sign {
    font-size: var(--step-0);
  }
}
@media screen and (max-width: 1186px) {
  .nav-bar ul li a {
    padding: 10px 19px;
  }
}
@media screen and (max-width: 1177px) {
  .nav-bar ul li a {
    padding: 10px 12px;
  }
}
@media screen and (max-width: 1080px) {
  .nav-bar ul li a {
    font-size: var(--step-0);
    padding: 10px 7px;
  }
}
@media screen and (max-width: 991px) {
  /* header */

  .list-inline li a {
    font-size: var(--step-0);
  }
  a,
  .social-img {
    max-width: 30%;
    text-align: center;
  }
  .row .right .content {
    padding-left: 0px;
  }
}
@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
    cursor: pointer;
    justify-content: right;
  }
  .hamburger .line {
    width: 30px;
    height: 3px;
    background: var(--199111--);
    margin: 6px 0;
  }
  .nav-bar.active {
    height: 100vh;
  }
  .nav-bar {
    height: 0px;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;

    background: var(--199112--);
    transition: 0.2s;
    overflow: hidden;
  }

  .nav-bar ul {
    display: block;
    width: fit-content;
    margin: 80px auto 0 auto;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }
  .nav-bar.active ul {
    opacity: 1;
  }
  .nav-bar ul li {
    margin-bottom: 2rem;
  }
  .nav-bar ul li a {
    font-size: var(--step-3);
  }
}
@media screen and (max-width: 890px) {
  .social-black-white {
    display: none;
  }
  .social-collor-2 {
    display: block;
    text-align: center;
    margin-bottom: -61px;
  }
  .social-collor-2,
  a {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .social-img2 {
    max-width: 50%;
  }
  .list-inline li a {
    display: none;
  }

  .caption {
    font-size: var(--step-0);
    width: 90%;
  }
  .gallery-btn {
    margin: 0 89px 0 0;
  }
}
@media screen and (max-width: 800px) {
  .row {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .row .left img {
    width: 100%;
    margin: auto;
  }
  h1 {
    font-size: var(--step-3);
  }
  .img-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  a,
  .social-img {
    max-width: 40%;
    text-align: center;
  }
  .img-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn {
    text-align: center;
  }
  .gallery-btn {
    margin: 20px 0 0 0;
  }
}
